
@{
    ViewBag.Title = "Gallery";
}




    <div class="container">
        <h2 style="text-align:center">Galleri</h2>
     
        <table class="table">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>ID</th>
                    <th>Konstnär</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pingvin</td>
                    <td>13456</td>
                    <td>Brutus Östling</td>
                </tr>
                <tr>
                    <td>Örn och Räv</td>
                    <td>63934</td>
                    <td>Brutus Östling</td>
                </tr>
                <tr>
                    <td>Uggla</td>
                    <td>1397</td>
                    <td>Brutus Östling</td>
                </tr>
            </tbody>
        </table>
    </div>


