
@{
    ViewBag.Title = "About";
}

<h2>Om skolan</h2>
<img src="~/Content/Image/Aboutimg.jpg" width="54%" style="float:right" />
<p>På Östra gymnasiet får du en gymnasieutbildning med många möjligheter och nya idéer. 
    Här kan du kombinera klassiska program med ditt specialintresse.</p>
<h3> En skola som kommunucerar</h3>
<p>Vi arbetar efter ledorden resultat, individ och kommunikation. Målet är att hjälpa varje elev till bästa möjliga resultat. 
    Alla elever ska respekteras som individer. Det gäller både i studier och i den personliga utvecklingen. 
    Vi tror att det finns ett viktigt kunskapsutbyte elever emellan, inte bara mellan elev och lärare. Därför 
    lägger vi stor vikt vid möten och kommunikation.
</p>


<p> </p>
<p> Vi arbetar mycket med att ha en tät kontakt mellan elever och lärare och där alla våra elever ska vara synliga och få uppmärksamhet.
     Skolan ska också vara en trygg plats att vistas på. Här finns ett inpasseringssystem för att förhindra att utomstående kommer in. 
    Vårt arbete har gett tydliga resultat. Den årliga enkäten i årskurs 2 visar att 98 % av eleverna känner sig trygga på skolan. 
    Det är ett mycket bra betyg på elevernas skolmiljö.</p>

    
 

