
@{
    ViewBag.Title = "About";
}

<style>
    p {
        width: 400px;
        word-wrap: break-word;
    }


    
</style>


<h2>Om skolan</h2>
<img src="~/Content/Image/Aboutimg.jpg" width="54%" style="float:right" />
<p>På Östra gymnasiet får du en gymnasieutbildning med många möjligheteroch nya idéer. 
    Här kan du kombinera klassiska program med ditt specialintresse.</p>
<h3> En skola som kommunucerar</h3>

<p>Vi arbetar efter ledorden resultat, individ och kommunikation. Målet är att hjälpa varje elev till bästa möjliga resultat. 
    Alla elever ska respekteras som individer. Det gäller både i studier och i den personliga utvecklingen. 
    Vi tror att det finns ett viktigt kunskapsutbyte elever emellan, inte bara mellan elev och lärare. Därför 
    lägger vi stor vikt vid möten och kommunikation.
</p>


<p> </p>
<p> Vi arbetar mycket med att ha en tät kontakt mellan elever och lärare och där alla våra elever ska vara synliga och få uppmärksamhet.
     Skolan ska också vara en trygg plats att vistas på. Här finns ett inpasseringssystem för att förhindra att utomstående kommer in. 
    Vårt arbete har gett tydliga resultat. Den årliga enkäten i årskurs 2 visar att 98 % av eleverna känner sig trygga på skolan. 
    Det är ett mycket bra betyg på elevernas skolmiljö.</p>

<h2>Aktiv mötesplats </h2>
<p2> Skolan startade hösten 2003 och år 2005 flyttade vi in ett nytt och fint hus.
     Byggnaden har fått flera utmärkelser och priser för bland annat sin arkitektur.
     Arkitekturen är tydligt genomgående och har skapats med utgångspunkt i skolans ledord;
     resultat, individ och kommunikation.</p2>

<p> </p>

<p2> På Östra gymnasiet är det högt i tak och transparent i såväl miljö som kultur. 
    Syftet är bland annat att underlätta möten och synliggöra de som rör sig här. 
    Här hittar du inte de traditionella skolkorridorerna. De har ersatts av öppna studieytor och gemensamma
     utrymmen i olika programavdelningar. 
    De fungerar som flexibla undervisningslokaler, för att ge en varierande och inspirerande undervisning. 
    Här finns klassrum, grupprum och datorer. 
    Avdelningarna skapar gemenskap och närhet mellan elever och lärare. </p2>    

<p> </p>

<p2>En av skolans visioner är att den ska vara ett nav i närsamhället. 
    Här hålls konferenser, konserter, möten, konstutställningar och idrottsaktiviteter.
     Vi vill ta samhället och omvärlden in i skolan och på så sätt göra den till en levande samlingspunkt.

 </p2>
 

