
@{
    ViewBag.Title = "Index";
}
<div class="thumbnail">
    <div id="DemoCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#DemoCarousel" data-slide-to="1"></li>
            <li data-target="#DemoCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Image/kanin.jpg" alt="Alternate Text" />
                
                <div class="carousel-caption">
                    <h3>This is the First Label</h3>
                    <p>The Content of the First Slide goes in here</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Image/random.jpg" alt="Alternate Text" />
                
                <div class="carousel-caption">
                    <h3>This is the Second Label</h3>
                    <p>The Content of the second Slide goes in here</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Image/skola.jpg" alt="Alternate Text" />
                
                <div class="carousel-caption">
                    <h3>This is the Third Label</h3>
                    <p>The Content of the Third Slide goes in here</p>
                </div>
            </div>
        </div>
        <!-- Carousel Controls -->
        
    </div>
</div>