
@{
    ViewBag.Title = "LogIn";
}

<div class="container" style="text-align:center;">
    <form class="form-signin">
        <h2 style="color: #000;" class="form-signin-heading">Logga in</h2>
        <label for="inputUsername" class="sr-only">Användrnamn</label>
        <input type="text" id="inputUsername" class="form-inline" placeholder="Användarnamn" required autofocus>
        <label for="inputPassword" class="sr-only">Lösenord</label>
        <input type="password" id="inputPassword" class="form-inline" placeholder="Lösenord" required>
        <p>

        </p>
        <button class="btn-success btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>Logga in</button>
    </form>
</div>

